<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Phaser Basic Project Template</title>

		<script>
		  window.G = Object.create(null);
		  G.states = Object.create(null);
		</script>

		<script src="javascripts/libs/phaser/build/phaser.min.js"></script>
		<script src="javascripts/states/Boot.js"></script>
		<script src="javascripts/states/Preloader.js"></script>
		<script src="javascripts/states/MainMenu.js"></script>
		<script src="javascripts/states/Game.js"></script>
	</head>
	<body>
		<div id="game_container"></div>
		<script src="javascripts/main.js"></script>
	</body>
</html>
